.heroHigh {
  height: var(--heightHero);
  margin-bottom: var(--paddingVerticalHero);
  color: var(--foregroundHero);
}
.contentWrapper {
position:relative;
}
.visualWrapper {

}
.imageWrapper {
  height: var(--heightHero);
  overflow: hidden;
  position: relative;
}
.imageWrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.copyWrapper {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width: var(--widthContent);
  height: var(--heightHero);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: var(--rowGap);
  text-align: center;
  padding: 40px 0;
}
.copyWrapper h1,
.copyWrapper h2,
.copyWrapper h3,
.copyWrapper h4 {
  margin-bottom: var(--rowGap);
  color: var(--colorHeadingHero);
}

.linksWrapper {
  display: flex;
  column-gap: var(--columnGap);
  list-style: none;
  padding:0;
  margin:0;
}
.richTextWrapper {
  width: calc( (var(--widthColumn) * 6) + (var(--widthGutter) * 5));
}

/***** Theme *****/
/*** Theme - Light ***/
.heroHigh.theme-light {

}
/*** Theme - Dark ***/
.heroHigh.theme-dark {
  --foregroundHero: var(--darkForeground);
  --colorHeadingHero: var(--white);
  --colorForeground: var(--darkForeground);
}

/***** Vertical Alignment *****/
.heroHigh.valign-top .copyWrapper{
  justify-content: start;
}
.heroHigh.valign-center .copyWrapper{
  justify-content: center;
}
.heroHigh.valign-bottom .copyWrapper{
  justify-content: end;
}
/***** Horizontal Alignment *****/
.heroHigh.halign-left .copyWrapper{
  align-items: start;
  text-align: left;
}
.heroHigh.halign-center .copyWrapper{
  align-items: center;
}
