.heroMedium {
  height: var(--heightHero);
  background: var(--backgroundHero);
  color: var(--foregroundHero);
  margin-bottom: var(--paddingVerticalHero);
}

.contentWrapper {
  width: var(--widthContent);
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: calc((var(--widthColumn) * 1) + (var(--widthGutter) * 2));
  align-items: center;
  padding:0 calc((var(--widthColumn) * 1) + (var(--widthGutter) * 1));
}

.visualWrapper {

}
.copyWrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--rowGap);
}
.copyWrapper h1,
.copyWrapper h2,
.copyWrapper h3,
.copyWrapper h4 {
  margin-bottom: var(--rowGap);
  color: var(--colorHeadingHero);
}

.linksWrapper {
  display: flex;
  column-gap: var(--columnGap);
  list-style: none;
  padding:0;
  margin:0;
}

/***** Theme *****/
.heroMedium.theme-light {

}
.heroMedium.theme-dark {
  --foregroundHero: var(--darkForeground);
  --colorHeadingHero: var(--white);
  --backgroundHero: var(--darkBackground);
  background-color: var(--darkBackground);
  --colorForeground: var(--darkForeground);
}


