# Database connection string
DATABASE_URI=mongodb://127.0.0.1/optitrack-db

# Used to encrypt JWT tokens
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Secret used to authenticate cron jobs
CRON_SECRET=YOUR_CRON_SECRET_HERE

# Used to validate preview requests
PREVIEW_SECRET=YOUR_SECRET_HERE

# Google
# NEXT_PUBLIC_GOOGLE_TAG_MANAGER_ID=YOUR_GOOGLE_TAG_MANAGER_ID
# NEXT_PUBLIC_GTM_AUTH=YOUR_GOOGLE_TAG_MANAGER_AUTH_ID

# Sentry
# NEXT_PUBLIC_SENTRY_DSN=YOUR_SENTRY_DSN
# NEXT_PUBLIC_SENTRY_ORG=YOUR_SENTRY_ORG
# NEXT_PUBLIC_SENTRY_PROJECT=YOUR_SENTRY_PROJECT
# SENTRY_AUTH_TOKEN=YOUR_SENTRY_AUTH_TOKEN

# ReCAPTCHA
# NEXT_PUBLIC_RECAPTCHA_SITE_KEY=YOUR_RECAPTCHA_SITE_KEY
# RECAPTCHA_SECRET_KEY=YOUR_RECAPTCHA_SECRET_KEY
