# Database connection string
DATABASE_URI=mongodb://127.0.0.1/payload-template-website

# The vercel blob token used for all media and backups (recommended).
# If not provided, payload will run in local file mode and will store files in /public folder and not in any file storage. This will only work for deployments with non-volatile storage and is not recommended.
# BLOB_READ_WRITE_TOKEN=vercel_blob_rw_AAAAAAAAAAA_0000EXAMPLE000EXAMPLE000EXAMPLE000

# Used to encrypt JWT tokens
PAYLOAD_SECRET="demo-payload-secret"

# Used to format links and URLs
PAYLOAD_PUBLIC_SERVER_URL=http://localhost:3000
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Used to preview drafts
PAYLOAD_PUBLIC_DRAFT_SECRET=demo-draft-secret
NEXT_PRIVATE_DRAFT_SECRET=demo-draft-secret

# Used to revalidate static pages
REVALIDATION_KEY=demo-revalidation-key
NEXT_PRIVATE_REVALIDATION_KEY=demo-revalidation-key

# provide Turnstile environment variables to enable turnstile form bot protection (optional)
#NEXT_PUBLIC_TURNSTILE_SITE_KEY=0x0000000000000000000000
#NEXT_PRIVATE_TURNSTILE_SECRET_KEY=0x000000000000000000000000000000000

# To support login with Google in the admin panel (optional)
GOOGLE_LOGIN_CLIENT_ID=
GOOGLE_LOGIN_CLIENT_SECRET=

# Secret used to protect webhooks triggered by vercel cron jobs. Will be automatically set by vercel.
CRON_SECRET="demo-cron-secret"

# Number of backups to keep. Change backup schedule in vercel.json file. Default is backup every day at 3am.
BACKUPS_TO_KEEP=4

#Cart API URL
NEXT_PUBLIC_CART_API_URL=https://optitrack.com/newadminapi/cart

# Secret used to authenticate cron jobs
CRON_SECRET=YOUR_CRON_SECRET_HERE

# Used to validate preview requests
PREVIEW_SECRET=YOUR_SECRET_HERE

# Google
# NEXT_PUBLIC_GOOGLE_TAG_MANAGER_ID=YOUR_GOOGLE_TAG_MANAGER_ID
# NEXT_PUBLIC_GTM_AUTH=YOUR_GOOGLE_TAG_MANAGER_AUTH_ID

# Sentry
# NEXT_PUBLIC_SENTRY_DSN=YOUR_SENTRY_DSN
# NEXT_PUBLIC_SENTRY_ORG=YOUR_SENTRY_ORG
# NEXT_PUBLIC_SENTRY_PROJECT=YOUR_SENTRY_PROJECT
# SENTRY_AUTH_TOKEN=YOUR_SENTRY_AUTH_TOKEN

# ReCAPTCHA
# NEXT_PUBLIC_RECAPTCHA_SITE_KEY=YOUR_RECAPTCHA_SITE_KEY
# RECAPTCHA_SECRET_KEY=YOUR_RECAPTCHA_SECRET_KEY

# Debugging
# DEBUG_PAYLOAD_CLOUD=true