
.header {
  background-color: var(--colorHeaderBackground);
  color: var(--colorHeaderForeground);
  height: var(--heightHeader);
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 100%;
}

.logo {
  color: var(--colorHeaderForeground);
}

/*
:global([data-theme="light"]) {
  .logo {
    filter: invert(1);
  }
}
  */
