.themeTrigger {
  width: auto;
  background: transparent;
  border: none;
  color: var(--colorFooterForeground);
  font-size: var(--fontSizeFooter);
  outline: none;
  padding: 0;
}
.themeTrigger:hover {
  cursor: pointer;
}
.themeTrigger svg {
  margin-left: 5px;
  width: 20px;
  height: 20px;
}
.themeTriggerContent {
  padding: 5px 10px;
  background-color: var(--colorFooterBackground);
  border: 1px solid var(--colorFooterForeground);
  border-radius: 4px;
  font-size: var(--fontSizeFooter);
}
.themeTriggerContent > *:hover {
  cursor: pointer;
}
.themeTriggerContent svg {
  width: 15px;
  height: 15px;
  margin-right: 4px;
}



.themeTriggerContent div[role="option"] {
  outline: none;
  padding: 4px 8px;
  border-radius: 4px;
}
.themeTriggerContent div[role="option"]:hover {
  background-color: rgba(255,255,255, 0.1);
  color: #fff;
}
.themeTriggerContent div[data-state="checked"] {

} 
.themeTriggerContent div[data-state="checked"] span:nth-child(1) {

}
.themeTriggerContent div[data-state="checked"] span:nth-child(2) {
  
}



