:root {
  /* Theme Colors */
  --softBlack: #1d1d16;
  --darkGray: #a2a2a2;
  --lightGray: #f5f5f5;
  --brandBlue: #41b6e6;
  --colorText: #707070;

  --blue01: #41b6e6;
  --blue02: #75d5fd;
  --blue03: #cef1ff;
  --orange01: #f7951e;
  --orange02: #fbb867;
  --orange03: #ffd8a9;
  --black: #000;
  --darkGray: #1d1d1f;
  --gray01: #6e6e73;
  --gray02: #86868b;
  --gray03: #dddfe6;
  --gray04: #fafbfd;
  --white: #fff;
  --error: #e33610;
  --warning: #ffe137;
  --success: #31ce4b;

  --lightForeground: var(--darkGray);
  --lightBackground: var(--white);
  --darkForeground: hsla(0, 0%, 100%, 0.8);
  --darkBackground: var(--darkGray);

  /* Dark Components */
  --dark1Foreground: var(--gray04);
  --dark2Foreground: var(--gray02);
  --dark1Background: var(--black);
  --dark2Background: var(--darkGray);

  /* Light Components */
  --light1Foreground: var(--darkGray);
  --light2Foreground: var(--gray02);
  --light1Background: var(--white);
  --light2Background: var(--gray04);

  /* Header Colors */
  --colorHeaderBackground: #f1f1f1;
  --colorHeaderForeground: var(--softBlack);

  /* Footer Colors */
  --colorFooterBackground: #111;
  --colorFooterForeground: hsla(0, 0%, 100%, 0.5);

  /* Body Colors */
  --colorForeground: var(--lightForeground);
  --colorBackground: var(--lightBackground);
  --colorHeading: var(--black);

  /* Caption Colors */
  --colorCaption: var(--softBlack);

  /* Admin Bar Colors */
  --colorAdminBarBackground: var(--darkGray);
  --colorAdminBarBackgroundDark: var(--softBlack);
  --colorAdminBarForeground: #f1f1f1;
}
