@import 'tailwindcss';
@import './type.css';

@theme {
  --color-background: #ffffff;
  --color-foreground: #090a0b;

  --color-card: #f5f5f7;
  --color-card-foreground: #090a0b;
  --color-popover: #ffffff;
  --color-popover-foreground: #181a1b;
  --color-primary: #181a1b;
  --color-primary-foreground: #f9fafb;
  --color-secondary: #f5f5f7;
  --color-secondary-foreground: #181a1b;
  --color-muted: #f5f5f7;
  --color-muted-foreground: #7a7d85;
  --color-accent: #f5f5f7;
  --color-accent-foreground: #090a0b;
  --color-destructive: #fa461b;
  --color-destructive-foreground: #f9fafb;
  --color-border: #d0d3da;
  --color-input: #d0d3da;
  --color-ring: #a5aab4;

  /* Custom Tokens (Custom Theme) */
  --color-sidebar-ring: #7a7d85;
  --color-sidebar-border: #d0d3da;
  --color-sidebar-accent-foreground: #27292a;
  --color-sidebar-accent: #f5f5f7;
  --color-sidebar-background: #f9fafb;
  --color-sidebar-foreground: #090a0b;
  --color-sidebar-primary-foreground: #f5f5f7;
  --color-sidebar-primary: #181a1b;
  --color-secondary-hover: #f9fafb;
  --color-ring-offset: #ffffff;
  --color-background-dark: #f5f5f7;
  --color-background-light: #ffffff;
  --color-stroke-icon-red: #fa461b;
  --color-button-error-hover: #ff6f4c;
  --color-button-error: #fa461b;
  --color-button-outline-hover: #a5aab4;
  --color-button-outline: #181a1b;
  --color-button-secondary-hover: #f9fafb;
  --color-button-secondary: #f5f5f7;
  --color-button-primary-hover: #75d5fd;
  --color-button-primary: #41b6e6;
  --color-button-default-hover: #27292a;
  --color-button-default: #090a0b;
  --color-tool-tip: #f5f5f7;
  --color-text-inverse: #ffffff;
  --color-text-light: #52575b;
  --color-text-default: #090a0b;
  --color-stroke-inverse: #f9fafb;
  --color-stroke-icon: #52575b;
  --color-hover: #f5f5f7;

  /* Other custom variables */
  --font-body: 'Haas Grot Text', 'sans-serif';
  --font-heading: 'Haas Grot Display', 'sans-serif';

  --breakpoint-xs: 320px;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;

  --cursor-auto: url('/cursors/auto.svg'), auto;
  --cursor-default: url('/cursors/default.svg'), default;
  --cursor-pointer: url('/cursors/pointer.svg'), pointer;
  --cursor-wait: url('/cursors/wait.svg'), wait;
  --cursor-text: url('/cursors/text.svg'), text;
  --cursor-move: url('/cursors/move.svg'), move;
  --cursor-help: url('/cursors/help.svg'), help;
  --cursor-not-allowed: url('/cursors/not-allowed.svg'), not-allowed;
  --cursor-none: url('/cursors/none.svg'), none;
  --cursor-context-menu: url('/cursors/context-menu.svg'), context-menu;
  --cursor-progress: url('/cursors/progress.svg'), progress;
  --cursor-cell: url('/cursors/cell.svg'), cell;
  --cursor-crosshair: url('/cursors/crosshair.svg'), crosshair;
  --cursor-vertical-text: url('/cursors/vertical-text.svg'), vertical-text;
  --cursor-alias: url('/cursors/alias.svg'), alias;
  --cursor-copy: url('/cursors/copy.svg'), copy;
  --cursor-no-drop: url('/cursors/no-drop.svg'), no-drop;
  --cursor-grab: url('/cursors/grab.svg'), grab;
  --cursor-grabbing: url('/cursors/grabbing.svg'), grabbing;
  --cursor-all-scroll: url('/cursors/all-scroll.svg'), all-scroll;
  --cursor-col-resize: url('/cursors/col-resize.svg'), col-resize;
  --cursor-row-resize: url('/cursors/row-resize.svg'), row-resize;
  --cursor-n-resize: url('/cursors/n-resize.svg'), n-resize;
  --cursor-e-resize: url('/cursors/e-resize.svg'), e-resize;
  --cursor-s-resize: url('/cursors/s-resize.svg'), s-resize;
  --cursor-w-resize: url('/cursors/w-resize.svg'), w-resize;
  --cursor-ne-resize: url('/cursors/ne-resize.svg'), ne-resize;
  --cursor-nw-resize: url('/cursors/nw-resize.svg'), nw-resize;
  --cursor-se-resize: url('/cursors/se-resize.svg'), se-resize;
  --cursor-sw-resize: url('/cursors/sw-resize.svg'), sw-resize;
  --cursor-ew-resize: url('/cursors/ew-resize.svg'), ew-resize;
  --cursor-ns-resize: url('/cursors/ns-resize.svg'), ns-resize;
  --cursor-nesw-resize: url('/cursors/nesw-resize.svg'), nesw-resize;
  --cursor-nwse-resize: url('/cursors/nwse-resize.svg'), nwse-resize;
  --cursor-zoom-in: url('/cursors/zoom-in.svg'), zoom-in;
  --cursor-zoom-out: url('/cursors/zoom-out.svg'), zoom-out;
}
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer theme {
  [data-theme='dark'] {
    --color-background: #090a0b;
    --color-foreground: #f9fafb;
    --color-card: #181a1b;
    --color-card-foreground: #f9fafb;
    --color-popover: #27292a;
    --color-popover-foreground: #f9fafb;
    --color-primary: #f5f5f7;
    --color-primary-foreground: #090a0b;
    --color-secondary: #52575b;
    --color-secondary-foreground: #f5f5f7;
    --color-muted: #27292a;
    --color-muted-foreground: #d0d3da;
    --color-accent: #36383a;
    --color-accent-foreground: #ffffff;
    --color-destructive: #ff6f4c;
    --color-destructive-foreground: #f5f5f7;
    --color-border: #36383a;
    --color-input: #52575b;
    --color-ring: #7a7d85;

    /* Custom Tokens (Custom Theme) */

    --color-sidebar-ring: #52575b;
    --color-sidebar-border: #52575b;
    --color-sidebar-accent-foreground: #f5f5f7;
    --color-sidebar-accent: #27292a;
    --color-sidebar-background: #090a0b;
    --color-sidebar-foreground: #f9fafb;
    --color-sidebar-primary: #41b6e6;
    --color-sidebar-primary-foreground: #f5f5f7;
    --color-secondary-hover: #36383a;
    --color-ring-offset: #ffffff;
    --color-background-dark: #27292a;
    --color-background-light: #090a0b;
    --color-stroke-icon-red: #ff6f4c;
    --color-button-error-hover: #ff6f4c;
    --color-button-error: #fa461b;
    --color-button-outline-hover: #7a7d85;
    --color-button-outline: #f9fafb;
    --color-button-secondary-hover: #52575b;
    --color-button-secondary: #36383a;
    --color-button-primary-hover: #75d5fd;
    --color-button-primary: #41b6e6;
    --color-button-default-hover: #d0d3da;
    --color-button-default: #f9fafb;
    --color-tool-tip: #27292a;
    --color-text-inverse: #181a1b;
    --color-text-light: #a5aab4;
    --color-text-default: #f9fafb;
    --color-stroke-inverse: #181a1b;
    --color-stroke-icon: #a5aab4;
    --color-hover: #36383a;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground font-body antialiased cursor-default;
  }
  .contentWrapper {
    @apply min-h-[100vh] flex flex-col;
  }
  a,
  button {
    @apply cursor-pointer;
  }

  .container {
    @apply mx-auto w-full px-3 sm:px-6 !max-w-[1400px];
  }
  .styled-tags,
  .payload-richtext {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-heading font-bold text-foreground;
    }
    h1 {
      @apply lg:text-5xl text-3xl mb-6 last:mb-0;
    }
    h2 {
      @apply lg:text-4xl text-3xl mt-10 mb-6 last:mb-0;
    }
    h3 {
      @apply text-3xl mt-8 mb-6 last:mb-0;
    }
    h4,
    h5,
    h6 {
      @apply text-2xl mt-8 mb-6 last:mb-0;
    }
    p {
      @apply font-body text-base my-6 last:mb-0;
    }
    a {
      @apply underline;
    }
    table {
      @apply my-6 last:mb-0 w-full;
      td,
      th {
        @apply px-4 py-2 border-border border-solid border-1 text-left;
      }

      tbody {
        tr:nth-child(even) {
          @apply bg-muted;
        }
      }
    }
    ul {
      @apply my-6 last:mb-0 pl-6 flex flex-col gap-2;
      li {
        @apply pl-6 relative;
        &:before {
          content: '';
          @apply size-1 absolute left-2.5 bg-foreground rounded-full top-2.5;
        }
      }
    }
    blockquote {
      @apply my-6 last:mb-0 text-base pl-6 relative;
      &::before {
        content: '';
        @apply absolute left-0 top-0 w-0.5 h-full bg-border;
      }
    }
  }
}
