@font-face {
  font-family: 'HaasGrotText-55Roman';
  src: url('/fonts/HaasGrotText-55Roman.eot');
  src: url('/fonts/HaasGrotText-55Roman.eot?#iefix') format('embedded-opentype'),
    url('/fonts/HaasGrotText-55Roman.woff2') format('woff2'),
    url('/fonts/HaasGrotText-55Roman.woff') format('woff'), url('/fonts/HaasGrotText-55Roman.ttf')
    format('truetype'), url('/fonts/HaasGrotText-55Roman.svg#HaasGrotText-55Roman') format('svg');

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HaasGrotText-75Bold';
  src: url('/fonts/HaasGrotText-75Bold.eot');
  src: url('/fonts/HaasGrotText-75Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/HaasGrotText-75Bold.woff2') format('woff2'), url('/fonts/HaasGrotText-75Bold.woff')
    format('woff'), url('/fonts/HaasGrotText-75Bold.ttf') format('truetype'),
    url('/fonts/HaasGrotText-75Bold.svg#HaasGrotText-75Bold') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Haas Grot Disp 55 Roman';
  src: url('/fonts/HaasGrotDisp-55Roman.eot');
  src: url('/fonts/HaasGrotDisp-55Roman.eot?#iefix') format('embedded-opentype'),
    url('/fonts/HaasGrotDisp-55Roman.woff2') format('woff2'),
    url('/fonts/HaasGrotDisp-55Roman.woff') format('woff'), url('/fonts/HaasGrotDisp-55Roman.ttf')
    format('truetype'), url('/fonts/HaasGrotDisp-55Roman.svg#HaasGrotDisp-55Roman') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Haas Grot Disp 65';
  src: url('/fonts/HaasGrotDisp-65Medium.eot');
  src: url('/fonts/HaasGrotDisp-65Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/HaasGrotDisp-65Medium.woff2') format('woff2'),
    url('/fonts/HaasGrotDisp-65Medium.woff') format('woff'), url('/fonts/HaasGrotDisp-65Medium.ttf')
    format('truetype'), url('/fonts/HaasGrotDisp-65Medium.svg#HaasGrotDisp-65Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Haas Grot Disp 75';
  src: url('/fonts/HaasGrotDisp-75Bold.eot');
  src: url('/fonts/HaasGrotDisp-75Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/HaasGrotDisp-75Bold.woff2') format('woff2'), url('/fonts/HaasGrotDisp-75Bold.woff')
    format('woff'), url('/fonts/HaasGrotDisp-75Bold.ttf') format('truetype'),
    url('/fonts/HaasGrotDisp-75Bold.svg#HaasGrotDisp-75Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
