.ctaWrapper {
  margin-bottom: var(--marginVerticalBlock);
  padding: var(--paddingVerticalBlock) 0;
}
.contentWrapper {
  max-width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  color: var(--colorForeground);
}
.contentWrapper h1,
.contentWrapper h2,
.contentWrapper h3,
.contentWrapper h4 {
  color: var(--colorHeading);
}

.richTextWrapper {

}
.linksWrapper {
  display: flex;
  column-gap: 20px;
}
.ctaWrapper.theme-light {


}
.ctaWrapper.theme-dark {
  background-color: var(--darkBackground);
  --colorForeground: var(--darkForeground);
  --colorHeading: var(--white);
}