.contentWrapper {
  margin-bottom: var(--marginVerticalBlock);
  padding: var(--paddingVerticalBlock) 0;
}
.contentWrapper h1,
.contentWrapper h2,
.contentWrapper h3,
.contentWrapper h4 {
  color: var(--colorHeading);
}

.contentGrid {
  width: var(--widthContent);
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: var(--columnGap);
  margin-bottom: var(--rowGap);
  color: var(--colorForeground);
}

.contentCol.size-full {
  grid-column: auto / span 12;
}
.contentCol.size-half {
  grid-column: auto / span 6;
}
.contentCol.size-oneThird {
  grid-column: auto / span 4;
}
.contentCol.size-twoThirds {
  grid-column: auto / span 8;
}

.contentWrapper.theme-light {
  
}
.contentWrapper.theme-dark {
  background-color: var(--darkBackground);
  --colorForeground: var(--darkForeground);
  --colorHeading: var(--white);
}
