.heroWrapper {
  height: 670px;
  overflow: hidden;
  margin-bottom: var(--paddingVerticalHero);
  position: relative;
}
.copyWrapper {
  position:absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0,0,0, 0.4);
  padding:40px 0;
}
.categoriesWrapper,
.titleWrapper,
.publishedWrapper{
  margin-left: auto;
  margin-right: auto; 
  width: var(--widthContent);
}
.titleWrapper h1{
  color:#fff;
}
.mediaWrapper img {
  height: 100%;
  width: auto;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto; 
}

.publishedWrapper p{
  margin: 0px;
  padding: 0px;
}