.feedWrapper {
  margin-bottom: var(--marginVerticalBlock);
  padding: var(--paddingVerticalBlock) 0;
  color: var(--colorForeground);
}
.feedWrapper h1,
.feedWrapper h2,
.feedWrapper h3,
.feedWrapper h4 {
  color: var(--colorHeading);
}
.introWrapper {
  padding-bottom: var(--paddingVerticalBlock);
}

.introWrapper,
.gridWrapper {
  width: var(--widthContent);
  margin-left: auto;
  margin-right: auto;
}

.feedWrapper.theme-light {

}
.feedWrapper.theme-dark {
  background-color: var(--darkBackground);
  --colorForeground: var(--darkForeground);
  --colorHeading: var(--white);
}
