.heroLow {
  color: var(--colorForeground);
  
}
.copyWrapper {
  width: var(--widthContent);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  row-gap: var(--rowGap);
  padding: var(--paddingVerticalBlock) 0;
}
.copyWrapper h1,
.coopyWrapper h2,
.coopyWrapper h3,
.copyWrapper h4 {
  color: var(--colorHeading);
}
.linksList {
  display: flex;
  column-gap: var(--columnGap);
  list-style: none;
  padding:0;
  margin:0;
}

.heroLow.theme-light {

}
.heroLow.theme-dark {
  --colorForeground: var(--darkForeground);
  --colorHeading: var(--white);
  --backgroundHero: var(--darkBackground);
  background: var(--backgroundHero);
}